/*
Author : Andreani Quentin;
URL : ;
Description : Exercice Arinfo (Première projet web)
contact : q.andreani@gmail.com
*/

/***************** Élements principaux de la page **************/

body
{
	background-color: black;
	margin: 0;
}

#bloc_page
{
	width: 90%;
	margin: auto;
}

.corps
{
	display: flex;
	justify-content: space-between;
}

/**************************** Header ******************************/

header
{
	font-family: "DKC Forever";
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/**************************** Navigation ***************************/

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

li {
list-style:none !important;
color:#FFF;
padding:10px;
font-size:20px;
}
 
nav ul {
padding:0;
margin:0;
}
 
nav ul li {
list-style: none;
line-height:44px;
float:left;
background-color: black;
}
 
nav ul li a {
color:#FFF;
padding:10px;
font-size:20px;
text-decoration:none;
}
 
nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
 
nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
z-index:99999;
display:list-item !important;
position:absolute;
margin-top:5px;
margin-left:-10px;

}


ul li{
  list-style:none;
  display:inline-block;
  padding:15px;
}
nav a {
  text-decoration:none;
  position:relative;
  padding:6px 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}    
a:after{
  content:'';
  width:0%;
  margin-left:50%;
  height:2px;
  bottom:0;
  left:0;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  border-radius:40%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition:all 0.5s;
  position:absolute;
}
a:hover:after {
  background-color: yellow;
  width:60%;
  margin-left:20%;
}

/*************************** Bannière *************************/

.ban
{
	height: 220px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

/******************************* Aside *************************/

aside
{
	text-align: center;
	border: 1px solid white;
	color: white;
	width: 310px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #5A5A5A;
	margin-right: 50px;
}

aside h2
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	background: black;
	color: white;
	width: 300px;
}

aside figure
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.8em;
}

aside table
{
	border-collapse: separate;
	border-spacing: 10px;
}

aside td
{
	width: 150px;
	text-align: left;
}

.aside
{
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	background: black;
	width: 300px
}

.flex_start
{
	display: flex;
	align-content: flex-start;
	font-weight: bold;
}

/******************************** Section ***************************/

section
{
	color: white;
}

section h2
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.intro
{
	color: white;
	font-size: 1.3em;
	font-family: 'Courier New';
	text-align: justify;
}

.border_top
{
	border-top: 1px solid white;
	margin-top: 0px;
	padding-top: 10px;
}

.iframe
{
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

.iframe_marge
{
	margin-right: 70px;
}

/******************************* Footer ******************************************/

footer
{
	color: white;
	text-align: center;
}

/***************************** Contact ************************************/


input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid white;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input, select, textarea
{
	background-color: black;
	color: white;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  color: black;
}

label
{
	color: white;
}

.container {
	width: 700px;
  	border-radius: 0px;
  	border: 1px solid white;
  	background-color: #5A5A5A;
  	padding: 20px;
}

.contact_block
{
	display: flex;
	justify-content: center;
}

.contact_h2
{
	font-family: 'DKC Forever';
	color: white;
	text-align: center;
}

/*************************************** Origine *************************************/
.origine_section
{
	display: flex;
}

.origine_section img
{
	height: 300px;
	width: auto;
	border-radius: 10px;
	border: 1px solid white;
	margin-top: 30px;
}

.origine_section p
{
	padding-right: 30px;
}

/********************************* Geogrpahie ********************************/
.georgraphie_section
{

}

.gotham1
{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.gotham1 img
{
	border: 1px solid white;
}