/*
Author : Andreani Quentin;
URL : ;
Description : Exercice Arinfo (Première projet web)
contact : q.andreani@gmail.com
*/

/* Élements principaux de la page */

body
{
	background-color: black;
	margin: 0;
}

#bloc_page
{
	width: 90%;
	margin: auto;
}

/* Header */

header
{
	font-family: "DKC Forever";
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: yellow;
    border-bottom: 3px solid yellow;
}

/* Bannière */

.ban
{
	height: 220px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Aside */

aside
{
	text-align: center;
	border: 1px solid white;
	color: white;
	width: 310px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #5A5A5A;
}

aside h2
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	background: black;
	color: white;
	width: 300px;
}

aside figure
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.8em;
}

aside td
{
	width: 150px;
	text-align: left;
}

.aside
{
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	background: black;
	width: 300px
}